footer
  .container.text-center
    h5.float-left © 2018 Ryan Yang.&nbsp&nbsp&nbsp&nbsp
  .container.text-center
  h4
    a.i.fab.fa-github.fa-lg(href= 'https://github.com/Ryang20718')  
    | &nbsp&nbsp&nbsp  
    a.i.fab.fa-linkedin-in.fa-lg(href= 'https://www.linkedin.com/in/ryang20718/') 
    | &nbsp&nbsp&nbsp  
    

