extends layout

block content
  h1 Workout
  p.lead Don't get lazy
  hr
  .row
    .col-md-6
      h2 Day 1
      p Push-Workout
      p
        a.btn.btn-raised(href='/push', role='button') See Workout »
    .col-md-6
      h2 Day 2
      p Pull Workout
      p
        a.btn.btn-raised(href='/pull', role='button') See Workout »
    .col-md-6
      h2 Day 3
      p Legs Workout
      p
        a.btn.btn-raised(href='#', role='button') See Workout »
    .col-md-6
      h2 Day 4
      p Extra Workout
      p
        a.btn.btn-raised(href='#', role='button') See Workout »