extends layout

block content
  h1 Welcome!
  p.lead Ryanyang99@hotmail.com!
  hr
  .row
    .col-md-6
      h2 Projects-Software
      p Couple of projects I'm not too ashamed of. 
      p
        a.btn.btn-raised(href='#', role='button') See Software »
    .col-md-6
      h2 Resume
      p Take a Resume Please!
      p
        a.btn.btn-raised(href='/login', role='button') View Resume »
    .col-md-6
      h2 Projects-Hardware
      p Projects that I might be using to this very day.
      p
        a.btn.btn-raised(href='#', role='button') See Hardware »
    .col-md-6
      h2 Experience
      p My past internships really have grown my skills. Let me share them with you!
      p
        a.btn.btn-raised(href='#', role='button') View Experience »