extends layout

block content
  .pb-4.mt-2.mb-4.border-bottom
    h3 Workout Day 3
    h4 1
    img(src='https://drive.google.com/thumbnail?id=14ywFwFWcvrzFmUv4gj2EvINtYcKnkd6z&sz=w350-h350')
    h4 2
    img(src='https://drive.google.com/thumbnail?id=1n9JHXmJuPxzf4oPk6NzBSMe5H-fHwoJT&sz=w350-h350')
    h4 3
    img(src='https://drive.google.com/thumbnail?id=1-BWwb13oFlnMOPj7rX9SujoeumtCGwoA&sz=w350-h350')
    h4 4
    img(src='https://drive.google.com/thumbnail?id=1sv1kX8NbSebdCEXv_0HL_9FwD8PQvBrL&sz=w350-h350')
    h4 5
    img(src='https://drive.google.com/thumbnail?id=16NYAMoaf8sA5wd-e3289VwvOM_V6fu4z&sz=w350-h350')




