extends layout

block content
  .pb-4.mt-2.mb-4.border-bottom
    h3 Workout Day 2
    h4 1
    img(src='https://drive.google.com/thumbnail?id=1QBZJcWEnJnmcVV1QgqsEkCakOHVgucTL&sz=w350-h350')
    h4 2
    img(src='https://drive.google.com/thumbnail?id=1OrGLrVvPf0JVK8_W48yWZYn2_-Lf8Q28&sz=w350-h350')
    h4 3
    img(src='https://drive.google.com/thumbnail?id=1fpPSGBWYYDTwsaV0g_nwvjqToDa0n28M&sz=w350-h350')
    h4 4
    img(src='https://drive.google.com/thumbnail?id=1_omUBHt3SnWg-bqsTqq-5iWgUwqcxm3z&sz=w350-h350')
    h4 5
    img(src='https://drive.google.com/thumbnail?id=16XlNvLmV7aIlZQvQU1SqSj0IXHVgwLxc&sz=w350-h350')
    h4 6
    img(src='https://drive.google.com/thumbnail?id=1MjOLj7iKWCW6CaIWuBazfPp3ETqNY5L2&sz=w350-h350')
    h4 7
    img(src='https://drive.google.com/thumbnail?id=18PxNARicKy4kawPEgvrJCYYvU_mQjU0C&sz=w350-h350')
    h4 8
    img(src='https://drive.google.com/thumbnail?id=1OrGLrVvPf0JVK8_W48yWZYn2_-Lf8Q28&sz=w350-h350')



