extends layout

block content
  .pb-4.mt-2.mb-4.border-bottom
    h3 Workout Day 1
    h4 1
    img(src='https://drive.google.com/thumbnail?id=1P9B0HvWMQi3esSO3jJBLPBkMnPNMVIZU&sz=w350-h350')
    h4 2
    img(src='https://drive.google.com/thumbnail?id=15frlPP_wuRHetsf2SkRr-oX5wOM24M94&sz=w350-h350')
    h4 3
    img(src='https://drive.google.com/thumbnail?id=1DjfmvaUEH3suLG4bV5ibQ7Jv6UUn5_mk&sz=w350-h350')
    h4 4
    img(src='https://drive.google.com/thumbnail?id=1GAkfzWUpet8VR36CNr-qKHuW2X7uF5rk&sz=w350-h350')
    h4 5
    img(src='https://drive.google.com/thumbnail?id=1ALs-V3k-5WiipX54WTgXT7qvTVLJ-ECf&sz=w350-h350')
    h4 6
    img(src='https://drive.google.com/thumbnail?id=1bk4lb5-EwWUdCQOb2udFaRAqyGZnqwWs&sz=w350-h350')
    h4 7
    img(src='https://drive.google.com/thumbnail?id=1Qs1jZEZGlFmcbAk96WgBdiS9bauyRfOC&sz=w350-h350')




