extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Resume
    iframe(width='800px', height='1000px', src="https://docs.google.com/document/d/e/2PACX-1vSbf5T_jevdo9Tum7DNjmdcu9O6IzUMPiK5w1KRdTDECLn0ttUq3y2JwE-xBanaZqhYh9F7F9MIYYk2/pub?embedded=true")




